			<p style="color:skyblue"> <b> Welcome <%= current_user.name %>! <b> </p>
    	
    	
		
		

			<% if current_user.role == "admin" %>
					

				<center> <h2 style = "color:red"> VIEWING AS ADMIN </h2> </center>

		
				<% users_posts = [] %>
				
				<% @users.each do |user|%>
						
					<% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
						
						<%users_posts.push post%>

					<%end%>
				<%end%>

					<h3> ALL POSTS: </h3>
						
						<%update = []%>
					
						<% users_posts.each do |ordered_post|%>
							<%update.push ordered_post%>

							
						<%end%>
					<ul>	
						<%update.sort_by(&:created_at).reverse.each do |actual_post|%>
							<li class = "nobr"> 
								<div>
									<p> This post belongs to 
										<%= link_to "#{User.find(actual_post.user_id).name}", 
													"/pictures/#{actual_post.user_id}" %> 
									</p>
									
									<p> Caption: <%= actual_post.caption%> </p>
								
									<p> Location: <%= actual_post.location%> </p>

									<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %>
								
									<br>
									<br>
								
									 <%= image_tag actual_post.image.url(:large) %> 
								</div>
							</li>
						<%end%>
					</ul>





			
<%else%>
			
				<% users_posts = [] %>
				
				<% @users.each do |user|%>
						
					<% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
						
						<%users_posts.push post%>

					<%end%>
				<%end%>

						<%update = []%>
						<% counter = 0 %>
						<% users_posts.each do |ordered_post|%>
							<%update.push ordered_post%>
							
							
						<%end%>
						

	<div class = "container">
		<div class = "row">
			
			
			
			<div class = "col-sm-6">
						<%update.sort_by(&:created_at).reverse.each do |actual_post|%>
							

							
								<div class = "row homePosts">
									<div class = "col-sm-12 centerThis">
									
											<p> This post belongs to user#<%= "#{actual_post.user_id}" %> </p>
										
											 <p> <%= image_tag actual_post.image.url(:large) %> </p>

												<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= counter%>" aria-expanded="false" aria-controls="collapseExample">
												  Post Details
												</button>
												
												<div class="collapse" id="<%= counter%>">
												  <div class="well">
												    <p> Caption: <%= actual_post.caption%> </p>
										
													<p> Location: <%= actual_post.location%> </p>

													<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %>
												  </div>
												</div>
									
												<%counter+=1%>
											 
									</div> 
								</div>
							<br> 
							<br>
							<br> 
							<br>
						<%end%>

			</div>	<!-- COLUMN OUT -->	

			<div class = "col-sm-6">
			</div>	

		</div> <!-- ROW OUT
    </div> <!-- CONTAINER OUT -->
<%end%>


