      <p style="color:skyblue"> <b> Welcome <%= current_user.username %>! <b> </p>
      
      
    
    

      <% if current_user.role == "admin" %>
          

        <center> <h2 style = "color:red"> VIEWING AS ADMIN </h2> 

    
        <% users_posts = [] %>
        
        <% @users.each do |user|%>
            
          <% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
            
            <%users_posts.push post%>

          <%end%>
        <%end%>

          <h3 class="white"> ALL POSTS: </h3>
          </center> 
            <%update = []%>
          
            <% users_posts.each do |ordered_post|%>
              <%update.push ordered_post%>

              
            <%end%>

            <%update.sort_by(&:created_at).reverse.each do |actual_post|%>
                <div class = "nobr white">
                  <p> This post belongs to 
                    <%= link_to "#{User.find(actual_post.user_id).username}", 
                          "/pictures/#{actual_post.user_id}" %> 
                  </p>
                  
                  <p> Caption: <%= actual_post.caption%> </p>

                  <p> Location: <%= actual_post.location%> </p>
                
                  <p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>
                  
                  <% if actual_post.camera_model != nil %>
                    <p> Model: <%= actual_post.camera_model %> </p>
                  <%else%>
                    <p> Model: Unknown </p>
                  <%end%>


                  <%if actual_post.has_geo == true%>
                    <p> Location: <%=actual_post.latitude%>, <%=actual_post.longitude%> %> </p>
                  <%end%>


                    <%= link_to "Like", like_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>
                          
                    <span class="js-count-<%= actual_post.id %>"> <%= actual_post.get_upvotes.size %> </span>

                    <%= link_to "Unlike", dislike_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>
                
                  <br>
                  <br>
                   <%= image_tag actual_post.image.url(:regular) %>
                   <br>
                  <br>

                </div>
            <%end%>





      
<%else%>
      
        <% users_posts = [] %>
        
        <% @users.each do |user|%>
            
          <% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
            
            <%users_posts.push post%>

          <%end%>
        <%end%>

            <%update = []%>

            <% users_posts.each do |ordered_post|%>
              <%update.push ordered_post%>
              
              
            <%end%>
            

  <div class = "container">
    <div class = "row">
      
      
      
      <div class = "col-sm-6">
        <% collapse_counter = 0 %>
        <% modal_counter = 1000 %>
        <h3 class="white centerThis"> All Posts: </h3>
            <%update.sort_by(&:created_at).reverse.each do |actual_post|%>
              

              
                <div class = "row homePosts">
                  <div class = "col-sm-12 centerThis">
                  
                      
                        
                       <p class="adjustPicture"> <%= image_tag actual_post.image.url(:large), :class => "unCenter" %> </p>
                       
                          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#<%= collapse_counter%>" aria-expanded="false" aria-controls="collapseExample">
                            Post Details
                          </button>

                          

                          <%= link_to "Like", like_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>
                          
                          <span class="js-count-<%= actual_post.id %>"> <%= actual_post.get_upvotes.size %> </span>

                          <%= link_to "Unlike", dislike_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>

                     

                        

                        <!--  ---------------------------------------------MODAL-------------------------------------
 -->
                        <div class="modal fade <%=modal_counter%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content"> 
                                <h4 class="modal-title" id="myModalLabel"> Post Details </h4>

                                <div class="row">
                                
                                <div class="col-sm-6"> 
                                  <p> User: <%=User.find(actual_post.user_id).username.capitalize %>
                          
                                  <p> Caption: <%= actual_post.caption%> </p>

                                  <%if actual_post.has_geo == false%>

                                    <p> Location: <%= actual_post.location%> </p>

                                  <%end%>
                        
                                  <p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>
                          
                                  <% if actual_post.camera_model != nil %>
                                  
                                    <p> Model: <%= actual_post.camera_model %> </p>
                                  
                                  <%else%>
                                  
                                    <p> Model: Unknown </p>
                                  
                                  <%end%>

                                  
                                  <%if actual_post.has_geo == true%>
                                  
                                    <p> Location: <%=actual_post.latitude%>, <%=actual_post.longitude%> </p>
                                  
                                  <%end%>

                                  <%if User.find(actual_post.user_id) == current_user%>
                                    <%= button_to "Edit Post", edit_picture_path(actual_post), :class => "btn btn-primary btn-xs", 
                                      :method => :get
                                    %>
                                  <%end%>
                          
                                
                                </div>
                                
                                <div class="col-sm-6">
                                <%= image_tag actual_post.image.url(:regular) %>
                                </div>

                              </div>
                              </div>
                            </div>
                        </div>



<!--      ----------------------------------END-------------------------------------------------------------
 -->

                        <!-- COLLAPSE WELL WITH POST INFORMATION -->
                        <div class="collapse" id="<%= collapse_counter%>">
                          <div class="well">
                          
                          <% @pic = actual_post.image%>
                          <p> User: <%=User.find(actual_post.user_id).username.capitalize %>
                          
                          <p> Caption: <%= actual_post.caption%> </p>

                          <%if actual_post.has_geo == false%>

                            <p> Location: <%= actual_post.location%> </p>

                          <%end%>
                
                          <p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>
                  
                          <% if actual_post.camera_model != nil %>
                          
                            <p> Model: <%= actual_post.camera_model %> </p>
                          
                          <%else%>
                          
                            <p> Model: Unknown </p>
                          
                          <%end%>

                          
                          <%if actual_post.has_geo == true%>
                            
                            <p> Location: <%=actual_post.latitude%>, <%=actual_post.longitude%> </p>

                          <%end%>

                          <%if User.find(actual_post.user_id) == current_user%>
                            <%= button_to "Edit Post", edit_picture_path(actual_post), :class => "btn btn-primary btn-xs", 
                              :method => :get
                                        %>
                          <%end%>
                      
                          </div> <!-- POST INFORMATION -->
                        </div> <!-- BUTTON FOR POST INFORMATION -->
                  
                        <%collapse_counter+=1%>
                        <%modal_counter+=1%>
                       
                  </div> 
                </div>
              <br> 
              <br>
              <br> 
              <br>
            <%end%>

      </div>  <!-- COLUMN OUT --> 

      

      <div class = "col-sm-6 googleMaps">
        
       <h3 class="white realignGoogleM centerThis"> Google Maps: </h3>
        <!-- -------------------GOOGLE MAPS------------------ -->


 <div id="map" style="width: 530px; height: 545px; "></div>


                                <script type="text/javascript">
                                  var locations = [
                                    ['New York', 40.730610, -73.935242],
                                    ['Wynwood Art', 25.800134583333335, -80.2001903888889]
                                  ];

                                  var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 3,
                                    center: new google.maps.LatLng(37.0902, -75.7129),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                  });
                                  google.maps.event.trigger(map, 'resize');

                                  var infowindow = new google.maps.InfoWindow();

                                  var marker, i;

                                  for (i = 0; i < locations.length; i++) {  
                                    marker = new google.maps.Marker({
                                      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                      map: map
                                    });

                                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                      return function() {
                                        infowindow.setContent(locations[i][0]);
                                        infowindow.open(map, marker);
                                      }
                                    })(marker, i));
                                  }

                                </script>
    
          

      </div>  <!-- -------------------END---------------------- -->

    </div> <!-- ROW OUT
    </div> <! CONTAINER OUT -->


<%end%>




