<body>
			<p style="color:skyblue"> <b> Welcome <%= current_user.username %>! <b> </p>
    	
    	
		
		

			<% if current_user.role == "admin" %>
					

				<center> <h2 style = "color:red"> VIEWING AS ADMIN </h2> 

		
				<% users_posts = [] %>
				
				<% @users.each do |user|%>
						
					<% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
						
						<%users_posts.push post%>

					<%end%>
				<%end%>

					<h3 class="white"> ALL POSTS: </h3>
					</center>	
						<%update = []%>
					
						<% users_posts.each do |ordered_post|%>
							<%update.push ordered_post%>

							
						<%end%>

						<%update.sort_by(&:created_at).reverse.each do |actual_post|%>
								<div class = "nobr white">
									<p> This post belongs to 
										<%= link_to "#{User.find(actual_post.user_id).username}", 
													"/pictures/#{actual_post.user_id}" %> 
									</p>
									
									<p> Caption: <%= actual_post.caption%> </p>

									<p> Location: <%= actual_post.location%> </p>
								
									<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>

                  <p> Model : <%= EXIFR::JPEG.new(actual_post.image.path).model %> </p>

                  <p> Picture Path: <%= actual_post.image.path%> </p>


                    <%= link_to "Like", like_picture_path(actual_post), method: :put %>
                          
                    <%= actual_post.get_upvotes.size %>
                          
                    <%= link_to "Unlike", dislike_picture_path(actual_post), method: :put %>
								
									<br>
									<br>
									 <%= image_tag actual_post.image.url(:regular) %>
									 <br>
								 	<br>

								</div>
						<%end%>





			
<%else%>
			
				<% users_posts = [] %>
				
				<% @users.each do |user|%>
						
					<% user.pictures.each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->
						
						<%users_posts.push post%>

					<%end%>
				<%end%>

						<%update = []%>

						<% users_posts.each do |ordered_post|%>
							<%update.push ordered_post%>
							
							
						<%end%>
						

	<div class = "container">
		<div class = "row">
			
			
			
			<div class = "col-sm-6">
				<% collapse_counter = 0 %>
				<% modal_counter = 1000 %>
        <h3 class="white centerThis"> All Posts: </h3>
						<%update.sort_by(&:created_at).reverse.each do |actual_post|%>
							

							
								<div class = "row homePosts">
									<div class = "col-sm-12 centerThis">
									
											
										    
											 <p class="adjustPicture"> <%= image_tag actual_post.image.url(:large), :class => "unCenter" %> </p>
                       
  												<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#<%= collapse_counter%>" aria-expanded="false" aria-controls="collapseExample">
  												  Post Details
  												</button>

                          <%= link_to "Like", like_picture_path(actual_post), method: :put %>
                          
                          <%= actual_post.get_upvotes.size %>
                          
                          <%= link_to "Unlike", dislike_picture_path(actual_post), method: :put %>

                     

												

												<!-- 	---------------------------------------------MODAL-------------------------------------
 -->
												<div class="modal fade <%=modal_counter%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		
  													<div class="modal-dialog modal-lg" role="document">
    													<div class="modal-content"> 
    														<h4 class="modal-title" id="myModalLabel"> Post Details </h4>

    														<div class="row">
																
																<div class="col-sm-6"> 
																	<p> This post belongs to <%=User.find(actual_post.user_id).username %> </p>
												    				<p> Caption: <%= actual_post.caption%> </p>
										
																	<p> Location: <%= actual_post.location%> </p>
										
																	<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %>
													
									 							
																</div>
																
																<div class="col-sm-6">
																<%= image_tag actual_post.image.url(:regular) %>
																</div>

															</div>
										    			</div>
										  			</div>
												</div>



<!--  		----------------------------------END-------------------------------------------------------------
 -->

												<!-- COLLAPSE WELL WITH POST INFORMATION -->
												<div class="collapse" id="<%= collapse_counter%>">
												  <div class="well">
													
													<% @pic = actual_post.image%>
												  <p> User: <%=User.find(actual_post.user_id).username.capitalize %>
												    <p> Caption: <%= actual_post.caption%> </p>
										
													<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %>

													<p> Location: <%= actual_post.location%> </p>

                          <p> Model : <%= EXIFR::JPEG.new(actual_post.image.path).model %> </p>

													<%if User.find(actual_post.user_id) == current_user%>
														<%= button_to "Edit Post", edit_picture_path(actual_post), :class => "btn btn-primary btn-xs", 
															:method => :get
		                        						%>
									 				<%end%>
											
												  </div> <!-- POST INFORMATION -->
												</div> <!-- BUTTON FOR POST INFORMATION -->
									
												<%collapse_counter+=1%>
												<%modal_counter+=1%>
											 
									</div> 
								</div>
							<br> 
							<br>
							<br> 
							<br>
						<%end%>

			</div>	<!-- COLUMN OUT -->	

      

			<div class = "col-sm-6 googleMaps">
				
       <h3 class="white realignGoogleM"> Google Maps: </h3>
				<!-- -------------------GOOGLE MAPS------------------ -->

					<!DOCTYPE html>
<html class="centerThis"> 

<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCggVvOcsR1sYS8E6aNPSZfKOjBYntPEUE" type="text/javascript"></script>
</head> 
<body>
  <div id="map" style="width: 500px; height: 545px;"></div>

  <script type="text/javascript">
    var locations = [
      ['New York', 40.730610, -73.935242],
      ['Miami', 25.7617, -80.1918],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(37.0902, -75.7129),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>
</html>
					

			</div>	<!-- -------------------END---------------------- -->

		</div> <!-- ROW OUT
    </div> <! CONTAINER OUT -->


<%end%>

</body>


