<p style="color:skyblue"> <b> Welcome <%= current_user.username %>! <b> </p>
    	


<!--   -------------------------ADMIN PAGE---------------------------->

<% if current_user.role == "admin" %>
	<div class="container-fluid white">		

  	<h2 class="centerThis" style = "color:red"> VIEWING AS ADMIN </h2> 

    	<% users_posts = [] %>
    				
    	<% @users.each do |user|%>
    						
    		<% user.pictures.each do |post| %> <!-- ORDERS BY UserAccountCreationTime-->
    						
    			<%users_posts.push post%>

    		<%end%>
    	<%end%>

          <!-- -----PRINTS ALL POSTS------- -->

        	<h3 class="centerThis"> ALL POSTS: </h3>
        	
          <%update = []%>
  					
  				<% users_posts.each do |ordered_post|%>
  							<%update.push ordered_post%>	
  				<%end%>

  				<%update.sort_by(&:created_at).reverse.each do |actual_post|%>
  					<div class = "nobr">
  					
              <p> This post belongs to 
  							<%= link_to "#{User.find(actual_post.user_id).username}", 
  													"/pictures/#{actual_post.user_id}" %> 
  						</p>
  									
  						<p> Caption: <%= actual_post.caption%> </p>

  						<p> Location: <%= actual_post.location%> </p>
  								
  						<p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>
                    
              <% if actual_post.camera_model != nil %>
                <p> Model: <%= actual_post.camera_model %> </p>
              <%else%>
                <p> Model: Unknown </p>
              <%end%>

              <%if actual_post.has_geo == true%>
                <p> Location: <%=actual_post.latitude%>, <%=actual_post.longitude%> %> </p>
              <%end%>

                <!-- LIKE OR DISLIKE BUTTON -->
              <%= link_to "Like", like_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>
                    
              <span class="js-count-<%= actual_post.id %>"> <%= actual_post.get_upvotes.size %> </span>

              <%= link_to "Unlike", dislike_picture_path(actual_post), method: :put, remote: true, class: "js-update-number" %>
  								
  									<br>
  									 <%= image_tag actual_post.image.url(:regular) %>
  									<br>
  								 	<br>

						</div>
					<%end%> <!-- END OF PRINTING POSTS -->





	</div> <!-- END OF ADMIN CONTAINER -->


<%else%>  <!-- --------------- USER EXPLORE PAGE ------------------- -->


	<div class="container white">  		
		
    <% users_posts = [] %>
		
    <% @users.each do |user|%>	
			<% user.pictures.each do |post| %> <!-- ORDER BY USER ACCOUNT MADE TIME -->
		    <%users_posts.push post%>
      <%end%>
		<%end%>

		<%update = []%>

		<% users_posts.each do |ordered_post|%>
			<%update.push ordered_post%>
		<%end%>
						

		<div class = "row">
			
			<div class = "col-sm-12">
				<% collapse_counter = 0 %>

        <h3 class="centerThis"> All Posts: </h3> <!-- -----PRINT ALL POSTS----- -->
				
              <%update.sort_by(&:created_at).reverse.each do |actual_post|%>
                  <div class = "row homePosts centerThis nobr"> <!-- ----BOX FOR POST---- -->

                    <p> 
                      <%= image_tag actual_post.image.url(:large) %> 
                    </p>
                    
  									<div class = "col-sm-12">

    								
                       <!-- BUTTON FOR COLLAPSE INFO -->
										<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#<%= collapse_counter%>" aria-expanded="false" aria-controls="collapseExample">
										  Post Details
										</button>

                    <!-- ------LIKE OR DISLIKE BUTTON-------- -->
                    <%= link_to "Like", like_picture_path(actual_post), 
                    method: :put, remote: true, class: "js-update-number" %>
                    
                    <span class="js-count-<%= actual_post.id %>"> 
                    <%= actual_post.get_upvotes.size %> </span>

                    <%= link_to "Unlike", dislike_picture_path(actual_post), 
                    method: :put, remote: true, class: "js-update-number" %>
                  
					
                    <!-- ------COLLAPSE WELL WITH POST INFORMATION ------- -->
  									<div class="collapse" id="<%= collapse_counter%>">
  											<div class="well">
  													
  											  <p> User: <%=User.find(actual_post.user_id).username.capitalize %>
  											  
                          <p> Caption: <%= actual_post.caption%> </p>

                          <%if actual_post.has_geo == false%>
                            <p> Location: <%= actual_post.location%> </p>
                          <%end%>
                
                          <p> Created: <%= actual_post.created_at.strftime("%b. %d, %Y") %> </p>
                  
                          <% if actual_post.camera_model != nil %>
                            <p> Model: <%= actual_post.camera_model %> </p>
                          <%else%>
                            <p> Model: Unknown </p>
                          <%end%>

                          
                          <%if actual_post.has_geo == true%>
                            <p> Location: <%=actual_post.latitude%>, <%=actual_post.longitude%> </p>
                          <%end%>

  												<%if User.find(actual_post.user_id) == current_user%>
  													<%= button_to "Edit Post", edit_picture_path(actual_post), :class => "btn btn-primary btn-xs", 
  														:method => :get
  	                        %>
  								 				<%end%>
  											
  											</div> <!-- WELL -->
  									</div> <!-- BUTTON FOR POST INFORMATION -->
  									
  												<%collapse_counter+=1%>
										 
        						</div> <!-- ENDS COLUMN OF DATA IN BOX -->
        					</div> <!-- ENDS BOX -->
						 
						    
				         <!-- SPACE IN BETWEEN POSTS -->
						  
						  <%end%> <!-- END OF PRINTING POSTS -->

			</div>	<!-------------- LEFT COLUMN OF 6 ENDS HERE ------------ -->	


    </div> <!-- END OF ROW CONTAINING POSTS AND GOOGLE MAPS -->
  </div> <!-- END OF CONTAINER, CONTAINING EVERYTHING ON THE PAGE -->
<%end%> <!-- END OF IF STATEMENT -->



