<nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color:black">
      
        <div class="row" style="color:white">
      
          <div class="col-sm-5 navLinks">

            <%= button_to "Home", root_path, :class => "btn btn-primary icon-home nobr", :method => :get %>

            <%= button_to "Your Profile", "/pictures/#{current_user.name}", :class => "btn btn-primary nobr", :method => :get %>

            <%= button_to "Make A Post", new_picture_path, :class => "btn btn-primary nobr", :method => :get %>

            <%= button_to "Edit Account", edit_user_registration_path, :class => "btn btn-primary nobr", :method => :get %>

            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-primary nobr", :method => :delete %>

          </div>
            
          <div class="col-sm-3">
            <font size="+3.5"><center>UNCOVERED</center></font>
          </div>

          <div class="col-sm-4 adjustSocial">
                
                <a href="https://twitter.com/wilfred_ruck" class="btn btn-social-icon btn-twitter fa-2x">
                    <span class="fa fa-twitter"></span>
                </a>

                <a href="https://www.instagram.com/willthefred" class="btn btn-social-icon btn-instagram fa-2x">
                    <span class="fa fa-instagram"></span> 
                </a>
                
                <a href="https://www.facebook.com/wilimacjr" class="btn btn-social-icon btn-facebook fa-2x">
                    <span class="fa fa-facebook"></span>
                </a> 
          </div>

        </div>


    </nav>      
      
