<nav class="navbar navbar-fixed-top" style="background-color:black">
      
        <div class="row" style="color:white">
      
          <div class="col-sm-4 navLinks">

            <%= button_to "Home", root_path, :class => "btn-sm btn-primary icon-home nobr", :method => :get %>

            <%= button_to "Your Profile", "/pictures/#{current_user.username}", :class => "btn-sm btn-primary nobr", :method => :get %>

            <%= button_to "Make A Post", new_picture_path, :class => "btn-sm btn-primary nobr", :method => :get %>


          </div>
            
          <div class="col-sm-4">
            <font size="+3.5">PHOTO-GRAPHED</font>
          </div>

          <div class="col-sm-4 ">
            
            <%= button_to "Logout", destroy_user_session_path, :class => "btn-sm btn-primary moveLinks", :method => :delete %>

            <%= button_to "Edit Account", edit_user_registration_path, :class => "btn-sm btn-primary moveLinks", :method => :get %>
            
               
          </div>

        </div>


</nav>      
      
