<h1>Welcome to Concert Exposure</h1>
<h3>
	<p> This website displays concerts happening all around the US.<p>
	<p> Please create a concert or click an upcoming concert below to view it's details.</p>
</h3>


<br>

<ul>
	<li> <%=link_to  '', '' %> </li>
	<li> <%=link_to  '', '' %> </li>
	<li> <%=link_to  '', '' %> </li>
	<li> <%=link_to  '', '' %> </li>
	<li> <%=link_to  '', '' %> </li>

</ul>
