<h3> Here are all your posts: </h3>
	

<ul>
	<%if @user.pictures.length != 0%>
		<% @user.pictures.order({ created_at: :desc}).each do |post| %>
			<li>
					<!-- edit button -->

					<%= button_to "Delete Post", post, :class => "btn btn-primary btn-sm", 
						method: :delete,
                        data: { confirm: "You sure?" }  %>
					
				<p> Caption: <%= post.caption%> </p>
				<p> Location: <%= post.location%> </p>
				<%= image_tag post.image.url(:med) %>
				
			</li>
			<br>
			<br>
		<%end%>
	<%else%>
		<h1> You Have No Posts Yet</h1>
		<p class = "nobr"> Would you like to create one!? 
		<%= button_to "Create A Post!", new_picture_path, :class => "btn btn-default btn-sm", :method => :get %>
		</p>
	<%end%>
</ul>


