<h3> Here are all your posts: </h3>
	

<ul>
	<%if @user.pictures.length != 0%>
		<% @user.pictures.sort.each do |post| %>
			<li>
					<button>Edit Post</button> 
					<button> <%= link_to "Delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
                    </button>
				<p> Caption: <%= post.caption%> </p>
				<p> Location: <%= post.location%> </p>
				<p> Picture: <%= post.image.url%> </p>
				
			</li>
			<br>
			<br>
		<%end%>
	<%else%>
		<h1> You Have No Posts Yet</h1>
		<p> Would you like to create one!? 
		<button> <%= link_to "Create!", new_picture_path %> </button>
		</p>
	<%end%>
</ul>


