<%if current_user.role == "admin" %>
		<h2 class = "adjustAdminView"> VIEWING AS ADMIN </h2>
	<%end%>

<h3 class="white"> Here are all your posts, <%= @user.name %>: </h3>
	



	<p class="white"> You have <%= @user.pictures.length %> posts. </p>
	<%if @user.pictures.length != 0%>
		<% @user.pictures.order({ created_at: :desc}).each do |post| %>
			
				<div class="nobr white">
						<!-- edit button -->

						<%= button_to "Delete Post", picture_path(post), :class => "btn btn-primary btn-xs", 
							method: :delete,
	                        data: { confirm: "You sure?" }  %>
						
					<p> Caption: <%= post.caption%> </p>
					<%= image_tag post.image.url(:large) %>
				</div>
		<%end%>
	<%else%>
		<h1 class="white"> You Have No Posts Yet</h1>
		<p class = "white"> Would you like to create one!? </p>
		
		<%= button_to "Create A Post!", new_picture_path, :class => "btn btn-success ", :method => :get %>
	<%end%>



