<%if current_user.role == "admin" %>
		<h2 class = "adjustAdminView refont"> VIEWING AS ADMIN </h2>
	<%end%>

<h3 class="refont centerThis" style="color:white"> Here are all your posts, <%= @user.username %>: </h3>	
	<%if current_user.role == "admin" && params[:id] != "Swill" && params[:id] != "1" %>
			<center style="color:red">
				<h4> Enter any comments to this user here:</h4>
				
				<form class="form-inline">
					  <div class="form-group">
					    <label for="exampleInputName2">Type Of Warning</label>
					    <input type="text" class="form-control" id="exampleInputName2">
					  </div>
					
					  <div class="form-group">
					    <label for="exampleInputEmail2">Description</label>
					    <input type="text-field" class="form-control" id="exampleInputEmail2">
					  </div>
					  <button type="submit" class="btn btn-warning">Send Warning</button>
				</form>
				
			</center>
	<%end%>

	
	<%if @user.pictures.length == 1%>
		<p class="white centerThis"> You have <%= @user.pictures.length%> post. Go make some more! </p>

		<% @user.pictures.order({ created_at: :desc}).each do |post| %>
			
				<div class="nobr white">
						<!-- edit button -->
						<br><br><br><br><br>
					
						<%= button_to "Edit Post", edit_picture_path(post), :class => "btn btn-primary btn-xs", 
							:method => :get
	                        %>

	                    <%= button_to "Delete Post", picture_path(post), :class => "btn btn-danger btn-xs", 
							method: :delete,
	                        data: { confirm: "You sure?" }  %>
					
						
					<p> Caption: <%= post.caption%> </p>
					<p> Location: <%= post.location%> </p>
					<p> Likes: <%= post.get_upvotes.size %> </p>

					<%= image_tag post.image.url(:large) %> 
				</div>

		<%end%>
	
	<%elsif @user.pictures.length > 1%>
		<p class="white centerThis"> You have <%= @user.pictures.length %> posts.</p>

		<% @user.pictures.order({ created_at: :desc}).each do |post| %>
			
				<div class="nobr white centerThis">
						<!-- edit button -->
						<br><br><br><br><br>
						
						<%= button_to "Edit Post", edit_picture_path(post), :class => "btn btn-primary btn-xs", 
							:method => :get
	                        %>

						<%= button_to "Delete Post", picture_path(post), :class => "btn btn-danger btn-xs", 
							method: :delete,
	                        data: { confirm: "You sure?" }  %>
						
					<p> Caption: <%= post.caption%> </p>
					<p> Location: <%= post.location%> </p>

					<%= image_tag post.image.url(:large), :class => "moveShow" %> 
				</div>

		<%end%>
	<%else%>
		<h1 class="white"> You Have No Posts Yet</h1>
		<p class = "white"> Would you like to create one!? </p>
		
		<%= button_to "Create A Post!", new_picture_path, :class => "btn btn-success ", :method => :get %>
	<%end%>