<!DOCTYPE html>
<html>
  <head>
    <title>Uncovered</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%if user_signed_in?%>
      
    	<p> Welcome <%= current_user.name %>! </p>
    	<button> <%= link_to "Logout", destroy_user_session_path, method: "delete" %> </button>
      <button> <%= link_to "Edit Account", edit_user_registration_path %> </button>
      <button> <%= link_to "Make A Post", new_picture_path %> </button>
      <button> <%= link_to "Home", "/" %> </button>
 
      <button> <%= link_to "Pictures", "/pictures/#{current_user.id}" %> </button>  
    <%end%>
    <%= yield %>
    <p> &copy Wilfred Ruck &#9818</p>
  </body>
</html>
