<!DOCTYPE html>
<html>
  <head>
    <title>Uncovered</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>   
           
        <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">


    <!-- LIVE-NINJA CHAT -->
       <!--  <script async>

          (function(n,i,_n,j,a){
            n.addEventListener("DOMContentLoaded", function() {
            i['liveninja'] = ["https://messenger.liveninja.com/w/uncovered?frame=true"];
            var _n = n.createElement('script');
            var j = n.getElementsByTagName('script')[0];
            _n.async = 1;
            _n.src='https://messenger.liveninja.com/w/assets/widget.js';
            j.parentNode.insertBefore(_n, j);
          })})(document, window);
        </script> -->

  

    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84816752-1', 'auto');
      ga('send', 'pageview');

    </script>
  
    <!-- GOOGLE FONTS -->
    
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|BioRhyme|Carrois+Gothic+SC|Cormorant+SC|Didact+Gothic|Lalezar|Modern+Antiqua|Monda|Montserrat|Oswald|Pathway+Gothic+One|Philosopher|Playfair+Display|Raleway|Roboto+Condensed|Roboto+Mono|Russo+One|Shrikhand|Sirin+Stencil|Stardos+Stencil" rel="stylesheet">



  </head>

<!--     EVERYTHING UNDER THIS WILL BE USED ON EVERY PAGE!!!!!
 -->
  <body style = "background-color:black">
  




    <p class="alert" style="color:red"><%= alert %></p>
    


    <%if user_signed_in?%>
      <%= render 'shared/nav_bar' %> 
    <%end%>



    <div class="notice">
    <% if !flash.empty? %>
      <% flash.each do |key, val|%>
        <p style="color:red"> <%=val%> <p>
      <%end%>
    <%end%>
      
    </div>
    <%= yield %>
    
  </body>
</html>
