<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul>
  		<li> <%= link_to 'Home', '/' %> </li>
  		<li> <%= link_to 'Contact Us', '/contact' %> </li>
  		<li> <%= link_to 'Get Introduced', '/say_name/Will' %> </li>
      <li> <%= link_to 'Database', '/projects' %> </li>
      <li> <%= link_to 'Create New Project', '/projects/new' %> </li>
      <li> <%= link_to 'Create New Entry', "/projects/8/time_entries/new" %> </li>
      <li> <%= link_to 'Time Entries', "/projects/8/time_entries" %> </li>


  	</ul>

    <%= yield %> <!-- This is where your code in your 'html.erb' is entered in -->
    <footer>This will appear on all pages.</footer>
  </body>


</html>
