<!DOCTYPE html>
<html>
  <head>
    <title>MusicConcert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1> Concert Exposure </h1>
  		<%= link_to 'Home', '/' %> |
  		<%= link_to 'All Concerts', '/concerts' %> |
      <%= link_to 'Kanye West Concerts', '/concerts/later'%> |
      <%= link_to 'Create A Concert', '/concerts/new'%> 
      <%= link_to 'Create A Comment', "concerts/:id/comment/new"%>
      <%= yield %>
      <footer>
          ¡Made by the Smurfs! 
      </footer>
  </body>
</html>
